{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("Pro Service CMS") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header" class="container">
			<div role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Pro Service CMS</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							{% for link in navLinks %}
								{% set linkClass = '' %}
								{% if link.key == section %}
									{% set linkClass = ' class="active"' %}
								{% endif %}
								<li{{ linkClass | striptags }}>
									<a href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if user is defined %}
								{% if user.canAccessKeystone %}
									<li><a href="/keystone">Administrar</a></li>
								{% endif %}
								<li><a href="/keystone/signout">Salir</a></li>
							{% else %}
								<li><a href="/keystone/signin">Ingresar</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			{% block intro %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
			{% block content %}{% endblock %}
		</div>
		<div id="footer" class="container">
			<p>Desarrollado por <a href="http://www.aeon.com.ar" target="_blank">Aeon Infinity SA</a></p>
		</div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}
		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}