{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<img src="/default/logo.png" width="160">
			<h1>Bienvenido</h1>
			<p>Pro Service CMS</p>
			<hr>
			{% if (user is defined) and (user.canAccessKeystone) %}
				<p>
					<a href="/keystone" class="btn btn-lg btn-primary">Administrar contenido</a>
				</p>
			{% else %}
				<p>
					<a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Ingresar</a>
				</p>
			{% endif %}
			<hr>
		</div>
	</div>
{% endblock %}
